.preview {
    width: 200px;
    height: auto;
    visibility: hidden;
}

.container {
    margin-left: 460px;
}
.flexbox {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.item {
    display: flex;
    flex-direction: row;
    background-color: #c0c0c0;
    padding: 16px;
    justify-content: space-around;
    border-radius: 8px;
    gap: 16px;
}
#gall {
    width: 400px;
    height: auto;
    position: fixed;
    left: 30px;
    top: 100px;
}